<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>robot_45_01_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-3,0.5}</string>
			<key>spriteSize</key>
			<string>{110,81}</string>
			<key>spriteSourceSize</key>
			<string>{116,82}</string>
			<key>textureRect</key>
			<string>{{0,0},{110,81}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_45_01_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-3,4}</string>
			<key>spriteSize</key>
			<string>{104,68}</string>
			<key>spriteSourceSize</key>
			<string>{116,82}</string>
			<key>textureRect</key>
			<string>{{111,0},{104,68}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_45_01_extra_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-0.5,2}</string>
			<key>spriteSize</key>
			<string>{97,70}</string>
			<key>spriteSourceSize</key>
			<string>{116,82}</string>
			<key>textureRect</key>
			<string>{{216,0},{97,70}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_45_01_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-3,0.5}</string>
			<key>spriteSize</key>
			<string>{120,91}</string>
			<key>spriteSourceSize</key>
			<string>{126,92}</string>
			<key>textureRect</key>
			<string>{{314,0},{91,120}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_45_02_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-2,0.5}</string>
			<key>spriteSize</key>
			<string>{42,52}</string>
			<key>spriteSourceSize</key>
			<string>{46,53}</string>
			<key>textureRect</key>
			<string>{{406,0},{42,52}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_45_02_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-3,8.5}</string>
			<key>spriteSize</key>
			<string>{8,7}</string>
			<key>spriteSourceSize</key>
			<string>{42,54}</string>
			<key>textureRect</key>
			<string>{{449,0},{8,7}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_45_02_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-2,0.5}</string>
			<key>spriteSize</key>
			<string>{52,62}</string>
			<key>spriteSourceSize</key>
			<string>{56,63}</string>
			<key>textureRect</key>
			<string>{{458,0},{52,62}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_45_03_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{18,50}</string>
			<key>spriteSourceSize</key>
			<string>{18,50}</string>
			<key>textureRect</key>
			<string>{{511,0},{50,18}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_45_03_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{14,46}</string>
			<key>spriteSourceSize</key>
			<string>{18,50}</string>
			<key>textureRect</key>
			<string>{{562,0},{14,46}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_45_03_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{28,60}</string>
			<key>spriteSourceSize</key>
			<string>{28,60}</string>
			<key>textureRect</key>
			<string>{{577,0},{28,60}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_45_04_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{55,34}</string>
			<key>spriteSourceSize</key>
			<string>{55,34}</string>
			<key>textureRect</key>
			<string>{{606,0},{34,55}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_45_04_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{13,-5}</string>
			<key>spriteSize</key>
			<string>{23,16}</string>
			<key>spriteSourceSize</key>
			<string>{55,34}</string>
			<key>textureRect</key>
			<string>{{641,0},{16,23}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_45_04_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{65,44}</string>
			<key>spriteSourceSize</key>
			<string>{65,44}</string>
			<key>textureRect</key>
			<string>{{658,0},{65,44}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>icons/robot_45-uhd.png</string>
		<key>size</key>
		<string>{724,120}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>icons/robot_45-uhd.png</string>
	</dict>
</dict>
</plist>
