<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>spider_50_01_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{12,12}</string>
			<key>spriteSize</key>
			<string>{104,96}</string>
			<key>spriteSourceSize</key>
			<string></string>
			<key>textureRect</key>
			<string>{{0,0},{104,96}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_50_01_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{12,12}</string>
			<key>spriteSize</key>
			<string>{104,96}</string>
			<key>spriteSourceSize</key>
			<string></string>
			<key>textureRect</key>
			<string>{{105,0},{104,96}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_50_01_extra_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{12,12}</string>
			<key>spriteSize</key>
			<string>{104,96}</string>
			<key>spriteSourceSize</key>
			<string></string>
			<key>textureRect</key>
			<string>{{210,0},{104,96}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_50_01_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{12,12}</string>
			<key>spriteSize</key>
			<string>{114,106}</string>
			<key>spriteSourceSize</key>
			<string></string>
			<key>textureRect</key>
			<string>{{315,0},{114,106}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_50_02_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string></string>
			<key>spriteSize</key>
			<string>{48,62}</string>
			<key>spriteSourceSize</key>
			<string></string>
			<key>textureRect</key>
			<string>{{430,0},{48,62}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_50_02_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string></string>
			<key>spriteSize</key>
			<string>{48,62}</string>
			<key>spriteSourceSize</key>
			<string></string>
			<key>textureRect</key>
			<string>{{479,0},{48,62}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_50_02_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string></string>
			<key>spriteSize</key>
			<string>{58,72}</string>
			<key>spriteSourceSize</key>
			<string></string>
			<key>textureRect</key>
			<string>{{528,0},{58,72}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_50_03_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string></string>
			<key>spriteSize</key>
			<string>{45,73}</string>
			<key>spriteSourceSize</key>
			<string></string>
			<key>textureRect</key>
			<string>{{587,0},{45,73}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_50_03_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string></string>
			<key>spriteSize</key>
			<string>{45,73}</string>
			<key>spriteSourceSize</key>
			<string></string>
			<key>textureRect</key>
			<string>{{633,0},{45,73}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_50_03_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string></string>
			<key>spriteSize</key>
			<string>{55,83}</string>
			<key>spriteSourceSize</key>
			<string></string>
			<key>textureRect</key>
			<string>{{679,0},{55,83}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_50_04_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string></string>
			<key>spriteSize</key>
			<string>{3,3}</string>
			<key>spriteSourceSize</key>
			<string></string>
			<key>textureRect</key>
			<string>{{735,0},{3,3}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_50_04_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string></string>
			<key>spriteSize</key>
			<string>{3,3}</string>
			<key>spriteSourceSize</key>
			<string></string>
			<key>textureRect</key>
			<string>{{739,0},{3,3}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_50_04_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string></string>
			<key>spriteSize</key>
			<string>{3,3}</string>
			<key>spriteSourceSize</key>
			<string></string>
			<key>textureRect</key>
			<string>{{743,0},{3,3}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>icons/spider_50-uhd.png</string>
		<key>size</key>
		<string>{747,106}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>icons/spider_50-uhd.png</string>
	</dict>
</dict>
</plist>
